body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.gradient-background {
  background: linear-gradient(to bottom right, #5f2c82, #49a09d);
  background-size: cover;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  font-style: ;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.center-image {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: auto;
  object-fit: contain !important ;
}

.main-content {
  padding: 20px;
}

.main-content img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.cta {
  background-color: #9333ea;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-content img {
    max-width: 60%;
    margin-top: 0;
  }
}
